{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/mlfurs.myshopify.com/products/edit-field/44596
{% endcomment %}
{% if product.metafields.custom_fields["was_price"] != blank %}
  <div class="custom-field custom-field__was-price custom-field__type--number">
    <h3 class="custom-field--title">was_price</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["was_price"] }}
    </div>
  </div>
{% endif %}