{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/mlfurs.myshopify.com/products/edit-field/54846
{% endcomment %}
{% if product.metafields.custom_fields["mfr_style_number"] != blank %}
  <div class="custom-field custom-field__mfr-style-number custom-field__type--text">
    <h3 class="custom-field--title">MFR Style Number</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["mfr_style_number"] }}
    </div>
  </div>
{% endif %}