{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/mlfurs.myshopify.com/products/edit-field/44600
{% endcomment %}
{% if product.metafields.custom_fields["productid"] != blank %}
  <div class="custom-field custom-field__productid custom-field__type--text">
    <h3 class="custom-field--title">productId</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["productid"] }}
    </div>
  </div>
{% endif %}