 {% if paginate.next %}
  <div class="more" style="visibility:hidden;">&darr; <a href="{{ paginate.next.url }}">Loading More...</a>
  <div class="fbp-loading" style="text-align:center;visibility:visible;display: flex;flex-direction: column;width: 100%;height: auto;">Loading More...</div>
  </div>
 {% endif %}
</div>
<div id="product-list-foot"></div>