<div class="footer_dynamic_menu" >
    <div class="footer__column-title">{{menu_title}}</div>
    <ul class="footer__list">
        {% for link in   linklists[menu_name].links %}
            <li class="footer__list-item">
            <a class="footer__list-link" href="{{ link.url }}">{{link.title}}</a>
            </li>
        {% endfor %}								
    </ul>
</div>
