				<div class="col-3 d-none d-lg-block">
					<ul class="nav-sidebar">
						<li class="nav-sidebar__item">
							<a href="/pages/about" class="nav-sidebar__link {% if option_selected == 'about' %}nav-sidebar__link_active {% endif %}">About</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/contact" class="nav-sidebar__link {% if option_selected == 'contact' %}nav-sidebar__link_active {% endif %}">Contact us</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/reviews" class="nav-sidebar__link">Customer reviews</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/appointments" class="nav-sidebar__link">Appointments</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/sustainability" class="nav-sidebar__link">Sustainability</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/size-chart" class="nav-sidebar__link">Size chart</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="free-shipping" class="nav-sidebar__link">Free shipping</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/customer-service-layaway" class="nav-sidebar__link">Layaway & Bill me later</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/customer-service-faq" class="nav-sidebar__link">Faq`s</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/privacy-and-security" class="nav-sidebar__link">Privacy & Security</a>
						</li>
						<li class="nav-sidebar__item">
							<a href="/pages/customer-service-policies" class="nav-sidebar__link">Policies</a>
						</li>
					</ul>
				</div>
