{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.was_price' %}
  {% include 'custom_fields.products.productinfo' %}
  {% include 'custom_fields.products.productid' %}
  {% include 'custom_fields.products.quick_view_image' %}
  {% include 'custom_fields.products.designer' %}
  {% include 'custom_fields.products.related_products' %}
  {% include 'custom_fields.products.upsell_products' %}
</div>