<div>
    <ul class="product-info-tabs">
        <li class="product-info-tabs__tab">
           <a class="product-info-tabs__link" href="#tab-1">Info</a>
        </li>
        <li class="product-info-tabs__tab">
           <a class="product-info-tabs__link" href="#tab-2">Shipping</a>
        </li>
        <li class="product-info-tabs__tab">
           <a class="product-info-tabs__link" href="#tab-3">Returns</a>
        </li>
    </ul>

    <div id="tab-1">
        Info Information
    </div>

    <div id="tab-2">
       shipping Information
    </div>

    <div id="tab-3">
       Returns Information
    </div>
</div>

