<div class="d-block d-sm-none d-md-none d-lg-none sustainability-mobile">
   <div class="sustainability-mobile-accordion accordion">
        {%- for block in section.blocks -%}                
                <div class="accordion__item">
                    <div class="sustainability-mobile-accordion-title accordion__title">{{block.settings.title}}</div>
                    <div class="sustainability-mobile-accordion__accordion-content accordion__content">                                              
                       <div class="accordion__content__image" 
                            style="background-image: url({{ block.settings.image | img_url: 'master' }});">                           
                       </div>
                       
                       <p class="accordion__content__title">{{block.settings.title}}</p>
                       
                       <div class="accordion__content__description">
                          {{block.settings.description}}
                       </div>                                                                     

                    </div>
                </div>
        {%- endfor -%}
   </div>    
</div>
