<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block  sustainability-desktop">
  {%- for block in section.blocks -%}       
        <div class="sustainability-desktop-item">
            <div class="sustainability-desktop-text-information">
               <div class="sustainability-desktop-text-information__title">
                  {{block.settings.title}}
               </div>

               <div class="sustainability-desktop-text-information__description">
                  {{block.settings.description}}
               </div>               
            </div>
            <div class="sustainability-desktop-image"
                 style="background-image: url({{ block.settings.image_desktop | img_url: 'master' }});">
                 
                 <img src="{{ block.settings.image_desktop | img_url: 'master' }}" style="visibility:hidden;" />
            </div>      
        </div>
   {%- endfor -%}
   
</div>