{% assign was_price = product.metafields.custom_fields["was_price"] | times: 1 %}
{%- if was_price > 0 -%}
    <div class="product-info__was__price">                                                                                                    
        Was: {{ was_price | money}}
    </div>
{%- endif-%}

