.category-banner
	background-size: cover
	background-repeat: no-repeat	
	background-position: center
	text-align: center	
	min-height: auto
	padding: 5vw 0

	&__content
		
    
	&__title
		font-size: 60px
		text-transform: uppercase
		color: #fff
		font-family: $bold	