.category-banner
	background-size: cover
	background-repeat: no-repeat
	padding: 85px 0
	text-align: center

.category-banner__title
	font-size: 60px
	text-transform: uppercase
	color: #fff
	font-family: $bold