.product__image
	margin-bottom: 20px

.product__link
	z-index: 1
	height: 100%
	width: 100%
	display: block
	position: relative

	.quik-view-image
		display: none
		position: absolute
		top: 0
		left: 0
		z-index: 99
	
	&:hover
		.quik-view-image
			display: inline
	
.product__size
	color: #cbb6a7
	font-size: 12px
	font-family: $bold
	text-transform: uppercase

	&__link
		color: #cbb6a7

		&:hover
			color: #cbb6a7


.product__descr
	font-size: 14px

.product__price
	font-family: $bold

.product__rate
	float: left
	margin-right: 10px
	img
		width: 64px
		height: 11px

.product__info
	font-size: 12px
	font-family: $light
	margin-top: 5px
	float: left

.product__color
	border: 1px solid $gray
	float: right
	width: 25px
	height: 25px
	border-radius: 50%


.sca-qv-image
	&:hover
		.quik-view-image
			display: inline

.product__swatches
	.swatch
		background-repeat: no-repeat
		background-size: 100%
		border: 1px solid $gray
		height: 20px
		margin-right: 5px
		width: 20px

		&:nth-last-child(1)
			margin-right: 0

