.catalog-home-page
		padding-top: 30px
		padding-bottom: 50px

.catalog-home-page__title
	margin-bottom: 35px
	text-align: center
	font-size: 24px
	text-transform: uppercase
	font-family: $light
	b
		color: $accent