
    {%- if  collection.description.size > 0  -%}
    <section class="collection_description">
		<div class="container-fluid">
           <div class="collection_description__text"> 
              {{collection.description}}
           </div>           
		</div>
	</section>

    {%- endif   -%}
