	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					{%- assign  collection_image = collection.url | split: "/" | last | append: ".png" -%}
					{%- assign  collection_image_default =  section.settings.hero -%}
					{%- assign  ruta = collection_image  | img_url: 'master' -%}
          
					{%- assign  rutaArray = ruta | split: "." -%}

					{% if rutaArray.size > 0%}
					   {%- assign  lastItem = rutaArray | last  -%}

						 {% if lastItem == "gif"  %}
						    {%- assign  collection_image = collection_image_default -%}
						 {% endif%}

					{% endif%}
					
					<div class="category-banner" id="category_banner" 
					     data-default_image = "{{collection_image_default}}" 
					     style="background-image: url({{ collection_image | img_url: 'master' }});">					  

						<div class="category-banner__title">{{collection.title}}</div>
	        					  
				    {% assign class_to_link = 'breadcrumbs__link' %}
  					{% assign class_to_breadcrumbs = 'breadcrumbs' %} 
					  {% assign class_to_item = 'breadcrumbs__item' %}
					  {% assign class_to_last_item = '' %} 
            
						{%- include 'breadcrumbs' -%}
					</div>
				</div>
			</div>
		</div>
	</section>

  {% schema %} {
  "name": "Collection Information",
  "settings": [
    {
      "id": "hero",
      "type": "image_picker",
      "label": "Hero Image"
    } 
  ]
}
{% endschema %}