	<section class="main-banner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="main-banner__social">
						<a href="https://www.facebook.com/MarksLloydsFurs" target="_blank" class="main-banner__social-item"><img src="{{ 'fb.png' | asset_url }}" alt="fb"></a>
						<a href="https://twitter.com/markslloydsfurs" target="_blank" class="main-banner__social-item"><img src="{{ 'tw.png' | asset_url }}" alt="tw"></a>
						<a href="http://www.instagram.com/mlfurs" target="_blank" class="main-banner__social-item"><img src="{{ 'inst.png' | asset_url }}" alt="inst"></a>
					</div>

          <a href="/collections/sweetest-sale">
            <div class="main-banner__content main-banner__content__desktop" style="background-image: url({{ section.settings.hero_image | img_url: 'master' }});">					   
            </div>
          </a>

				</div>
			</div>
		</div>
	</section>


{% schema %} {
  "name": "Hero image",
  "settings": [
    {
      "id": "hero_image",
      "type": "image_picker",
      "label": "Hero image"
    },
    {
      "id": "hero_image_tablet",
      "type": "image_picker",
      "label": "Hero image for tablets"
    },
    {
      "id": "hero_image_mobile",
      "type": "image_picker",
      "label": "Hero image for mobile"
    },
    {
      "id": "hero_title",
      "type": "text",
      "label": "Title"
    },
    {
      "id": "hero_subtitle",
      "type": "text",
      "label": "Subtitle"
    },
    {
      "id": "hero_description",
      "type": "text",
      "label": "Description"
    },
		{
			"id": "hero_text_button",
			"type": "text",
			"label": "Button Text"
		},
		{
			"id": "hero_link_button",
			"type": "url",
			"label": "Button Link"
		},
		{
			"id": "hero_show_button",
			"type": "checkbox",
			"label": "show button"
		}
										
  ]  
}
{% endschema %}

