	<div class="banner-descr">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-lg-6 banner-descr__left">
					<div class="banner-descr__left-text">
						<div class="banner-descr__left-text-large">{{section.settings.promotion_title}}</div>
						<div class="banner-descr__left-text-small">{{section.settings.promotion_subtitle}}</div>
					</div>
					<div class="banner-descr__left-code">
						<span>SHOP NOW</span>
					</div>
				</div>
				<div class="col-12 col-lg-6 banner-descr__right">                    
					<div class="banner-descr__logo">
                      <a class="affirm-site-modal" data-page-type="banner">
                         <img class="img-responsive img-width img-affirm" src="{{ 'black_logo-transparent_bg.png' | asset_url }}" alt="Affirm">
                      </a>
                    </div>
					<div class="banner-descr__right-text">
						<div class="banner-descr__right-text-large">Wear Now, <span>Pay Later</span></div>
						
					</div>
					<a class="banner-descr__button-preview button-preview button-preview_dark affirm-site-modal" data-page-type="banner">Learn More</a>
				</div>
			</div>
		</div>
	</div>


{% schema %} {
  "name": "SKI and Affirm Banner",
  "settings": [
    {
      "id": "promotion_title",
      "type": "text",
      "label": "Promotion Title"
    },
    {
      "id": "promotion_subtitle",
      "type": "text",
      "label": "Promotion Subtitle"
    }				
  ],
  
  "presets": [
    {
      "name": "SKI and Affirm Banner",
      "category": "Banners"
    }
  ] 
}
{% endschema %}
