	<div class="banner-descr">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-lg-6 banner-descr__left">
					<div class="banner-descr__left-text">
						<div class="banner-descr__left-text-large">SKI Sale 20% Off</div>
						<div class="banner-descr__left-text-small">Save 20% on your next ski purchase using our code</div>
					</div>
					<div class="banner-descr__left-code">
						code: <span>ski2018</span>
					</div>
				</div>
				<div class="col-12 col-lg-6 banner-descr__right">
					<div class="banner-descr__logo"><img class="img-responsive img-width" src="{{ 'affirm.png' | asset_url }}" alt="Affirm"></div>
					<div class="banner-descr__right-text">
						<div class="banner-descr__right-text-large">Wear Now, <span>Pay Later</span></div>
						
					</div>
					<a href="#" class="banner-descr__button-preview button-preview button-preview_dark">Learn More</a>
				</div>
			</div>
		</div>
	</div>


{% schema %} {
  "name": "SKI and Affirm Banner",
  "settings": [
  ],
  
  "presets": [
    {
      "name": "SKI and Affirm Banner",
      "category": "Banners"
    }
  ] 
}
{% endschema %}
