	<section class="subscribe" style="clear:both">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-lg-6 subscribe__left">
					<div class="subscribe__left-image"><img class="img-responsive img-width" src="{{ 'authentic.png' | asset_url }}" alt="img"></div>
					<div class="subscribe__left-text">Products contain only real fur either ranch raised, or from a country who governs the standards of sustainable fur products, and are labeled to show country of origin. Fur is a natural product; color and length can vary amongst garments. Prices online do not reflect prices in store, and may vary due to market fluctuation.</div>					
				</div>
				<div class="col-12 col-lg-6 subscribe__right">
					<div class="subscribe__right-left-part">
						<div class="subscribe__right-title">DON'T MISS OUT</div>
						<div class="subscribe__right-text">Stay current with the season's hottest trends and new arrivals directly to your inbox and on social media.</div>
					</div>

					{% form 'customer', class: 'subscribe__block-input block-input' %}
							{{ form.errors | default_errors }}
							{% if form.posted_successfully? %}
								<div class="alert alert-success" role="alert">{{ 'general.newsletter_form.confirmation' | t }}</div>
							{% else %}
									<input type="hidden" name="contact[tags]" value="newsletter">
									<input type="email"
										name="contact[email]"
										id="Email"
										class="block-input__input-text input-text input-text_bg_gray input-group__field newsletter__input"
										value=""
										placeholder="EMAIL ADDRESS"
										autocorrect="off"
										autocapitalize="off" required>
									
										<button type="submit" class="block-input__form-button form-button form-button_fontsize_sm" name="commit" id="Subscribe" >
											<span class="newsletter__submit-text--large">JOIN</span>
										</button>
									
							{% endif %}
					{% endform %}
				</div>
			</div>
		</div>
	</section>

{% schema %} {
  "name": "Subscribe",
  "settings": [
  ],
  
  "presets": [
    {
      "name": "Subscribe Section",
      "category": "Generals"
    }
  ] 
}
{% endschema %}        