	<section class="sustainability">
		<div class="container-fluid">
            <div class="row">
				<div class="col-12">
					<div class="sustainability__banner" style="background-image: url({{ section.settings.hero | img_url: 'master' }});">
						<div class="sustainability__title">Sustainability</div>
					</div>
				</div>
			</div>	

			{%- include "sustainability_mobile" -%}	
			{%- include "sustainability_tablet" -%}	
			{%- include "sustainability_desktop" -%}	
	</div>
</section>

{% schema %} {
  "name": "Sustainability",
  "settings": [
    {
      "id": "hero",
      "type": "image_picker",
      "label": "Hero Image"
    }
  ],
  "blocks": [
     {
	   "type": "text",
	   "name": "Sustainability Sections",
	   "settings": [
			{
			"id": "title",
			"type": "text",
			"label": "Title"
			},
			{
			"id": "image_desktop",
			"type": "image_picker",
			"label": "Desktop Image to Section"
			},
			{
			"id": "image_tablet",
			"type": "image_picker",
			"label": "Tablet Image to Section"
			},
			{
			"id": "image_mobile",
			"type": "image_picker",
			"label": "Mobile Image to Section"
			},						
			{
			"id": "description",
			"type": "html",
			"label": "Description"
			}						
     	]
	}
   ],

  
  "presets": [
    {
      "name": "Sustainability Sections",
      "category": "Products"
    }
  ] 
}
{% endschema %}        