<div class="designers">
{%- section 'designers_hero' -%}
    <div class="container-fluid designers-directory">
        <div class="row">
            <div class="col-12">
                <table  width="100%">
                    <tbody>
                        <tr style="height: 21px;">
                            <td style="height: 21px; width: 522px;" colspan="3">A</td>
                        </tr>
                        <tr style="height: 22px;">
                            <td style="height: 22px; width: 327px;"><a href="https://mlfurs.com/collections/adrienne-landau">Adrienne Landau</a></td>
                            <td style="height: 22px; width: 189px;">
                            <div></div>
                            <a href="https://mlfurs.com/collections/anamoda" title="Anamoda">Anamoda</a>
                            </td>
                            <td style="height: 22px; width: 8px;"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="3" style="width: 536px;">B</td>
                        </tr>
                        <tr>
                            <td style="width: 461px;"><a href="https://mlfurs.com/collections/bogner" title="Bogner">Bogner</a></td>
                            <td style="width: 31px;">
                            <div></div>
                            </td>
                            <td style="width: 32px;"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="3" style="width: 536px;">C</td>
                        </tr>
                        <tr>
                            <td style="width: 461px;"><a href="https://mlfurs.com/collections/cassin-collections" title="Cassin Collections">Cassin Collections</a></td>
                            <td style="width: 31px;">
                            <div></div>
                            </td>
                            <td style="width: 32px;">
                            <div></div>
                            <a href="https://mlfurs.com/collections/chalue" title="Chalue">Chalue</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="3" style="width: 536px;">E</td>
                        </tr>
                        <tr>
                            <td style="width: 461px;"><a href="https://mlfurs.com/collections/em-el" title="EM-EL">EM-EL</a></td>
                            <td style="width: 31px;">
                            <div></div>
                            <div></div>
                            </td>
                            <td style="width: 32px;">
                            <div></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="3">G</td>
                        </tr>
                        <tr>
                            <td>
                            <div></div>
                            <div></div>
                            <a href="https://mlfurs.com/collections/glamourpuss-nyc" title="Glamourpuss NYC">Glamourpuss NYC</a>
                            </td>
                            <td>
                            <div><a href="https://mlfurs.com/collections/gorski" title="Gorski">Gorski</a></div>
                            <div></div>
                            </td>
                            <td>
                            <div><a href="https://mlfurs.com/collections/guy-laroche" title="Guy LaRoche">Guy LaRoche</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="3">H</td>
                        </tr>
                        <tr>
                            <td>
                            <div></div>
                            <div></div>
                            <a href="https://mlfurs.com/collections/hestra-gloves" title="Hestra Gloves">Hestra Gloves</a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="3">L</td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/lenore-marshall" title="Lenore Marshall">Lenore Marshall </a></td>
                            <td><a href="https://mlfurs.com/collections/loro-piana" title="Loro Piana">Loro Piana</a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4">M</td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/m-miller" title="M. Miller">M. Miller</a></td>
                            <td><a href="https://mlfurs.com/collections/maison-montval" title="Maison Montval">Maison Montval</a></td>
                            <!--<td><a href="https://mlfurs.com/collections/malan-breton" title="Malan Breton">Malan Breton</a></td>-->
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/mary-mcfadden" title="Mary McFadden">Mary McFadden</a></td>
                            <td><a href="https://mlfurs.com/collections/monique-lhuillier" title="Monique L'Huillier">Monique L'Huillier</a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4">N</td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/newland" title="Newland">Newland</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4">P</td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/pologeorgis" title="Pologeorgis">Pologeorgis</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4">S</td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/skea" title="Skea">Skea</a></td>
                            <td><a href="https://mlfurs.com/collections/spyder-luxe-line" title="Spyder Luxe Line">Spyder Luxe Line</a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4">T</td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/toni-sailer" title="Toni Sailer">Toni Sailer</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="4">Z</td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/zac-posen" title="Zac Posen">Zac Posen</a></td>
                            <td><a href="https://mlfurs.com/collections/zandra-rhodes" title="Zandra Rhodes">Zandra Rhodes</a></td>
                            <td><a href="https://mlfurs.com/collections/zero-rh" title="Zero RH+">Zero RH+</a></td>
                        </tr>
                        <tr>
                            <td><a href="https://mlfurs.com/collections/zuki" title="Zuki">Zuki</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>