<!-- Page.liquid v0.1 -->



<section class="main-about">
		<div class="container-fluid">
			<div class="row">
                {% include 'nav-sidebar', option_selected: 'appointments' %}				

                  
                  
                  

    <div class="col">
    	{{page.content}}
    </div>
  </div>
</div>    

