<section class="sizes">
    <div class="container-fluid">
       <div class="row">
          {% include 'nav-sidebar', option_selected: 'size' %}

          <div class="col">
             {%  section "sizes_content"  %}
          </div>
       </div>
    </div>
</section>


